<router-outlet></router-outlet><mat-toolbar color="primary">
  <section>
    <div class="example-button-row">
      <button mat-flat-button
        color="primary"
        routerLinkActive="active-link"
        [routerLink]="['login']"
        class="mat-button-wrapper">
        Login
      </button>
      <button mat-flat-button color="primary" routerLinkActive="active-link"
        routerLink="/cursos">
        Cursos
      </button>
    </div>
  </section>
  <span class="example-spacer"></span>
  <span [routerLink]="['/']">Rotas</span>
</mat-toolbar>

<div class="example-container">
  <router-outlet></router-outlet>
</div>